.getnet-container {
  display: flex;
  flex-direction: column;
}

.getnet-line-cvv-expiration {
  display: flex;
  gap: 1rem;
}

.getnet-card-name-input {
  input[name='name'] {
    text-transform: uppercase;
  }
}